.banner {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5% 5%;
    height: 160px;

    img {
        border-radius: 25px;
        width: 100%;
        object-fit: cover;
    }

    .homeBanner-overlay {
        position: absolute;
        background:rgba(0, 0, 0, .5);
        height: 100%;
        width: 100%;
        border-radius: 25px;
    }

    .homeBanner-title {
        position: absolute;
        color: white;
        align-self: center;
        font-size: 48px;
        font-family: $font-1;
        font-weight: 500;
    }
}

@media screen and (min-width: 769px) and (max-width: 1240px){
        .banner {
            .homeBanner-title {
                font-size: 34px;
            }
        }
}

@media screen and (max-width: 768px){
    .banner{
        height: 111px;
        .homeBanner-title {
            font-size: 20px;
        }
    }
}