.banner {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5% 5%;

    img {
        border-radius: 25px;
        width: 100%;
        object-fit: cover;
    }

    .homeBanner_overlay {
        position: absolute;
        background: linear-gradient(transparent, rgba(0, 0, 0, .5));
        height: 100%;
        width: 100%;
        border-radius: 25px;
    }

    .hommeBanner_title {
        position: absolute;
        color: white;
        align-self: center;
        font-size: 48px;
        font-family: $font-1;
        font-weight: 500;
    }
}

@media screen and (min-width: 769px) and (max-width: 1240px) {
    .banner {
        .hommeBanner_title {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 768px) {
    .banner {
        .hommeBanner_title {
            font-size: 20px;
        }
        img {
            height: 105px;
        }
    }
}