.carousel {
    position: relative;
    .right {
        position: absolute;
        right: 0;
        align-items: center;
        display: flex;
        height: 100%;
        top: 0;
        img {
            cursor: pointer;
        }
    }
    
    .left {
        position: absolute;
        align-items: center;
        display: flex;
        height: 100%;
        top: 0;
        img {
            cursor: pointer;
        }
    }
    
    .active {
        display: block;
        width: 100%;
        img {
            width: 100%;
            height: 40rem;
            object-fit: cover;
        }
        .compteur {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 0;
            font-size: 2rem;
            color: white;
        }
    }
    
    .inactive {
        display: none;
    }
}



