.collapse-main {
    display: flex;
    column-gap: 50px;
    .collapse {
        width: 50%;
        color: white;
        margin-bottom: 20px;
        .collapse-header {
            background-color: $color-1;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            align-items: center;
        }
        .collapse-content {
            overflow: hidden;
            padding: 10px;
            background-color: $color-2;
            color: black;
            p{
                font-size: 15px;
                line-height: 1.5;
            }
        }
        &.collapsed {
            .collapse-header {
                img {
                    transform: rotate(360deg);
                    transition: all 500ms;
                }
            }
            .collapse-content {
                max-height: 0;
                padding-top: 0;
                padding-bottom: 0;
                transition: all 500ms;
            }
        }
        &.expended {
            .collapse-header {
                img {
                    transform: rotate(180deg);
                    transition: all 500ms;
                }
            }
            .collapse-content {
            max-height: 250px;
            transition: all 500ms;
            }
        }
    }
}
.about {
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    .collapse {
        width: 70%;
        .collapse-header {
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 768px){
    .collapse-main{
        flex-direction: column;
        align-items: center;
        .collapse {
            width: 100%;
        }
    }





    .about {
        .collapse {
            width: 100%;
            h3 {
                font-size: 15px;
            }
            p {
                font-size: 13px;
            }
            img {
                width: 26px;
            }
        }
    }
}