.error {
    display: flex;
    margin: auto;
    height: 60vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    row-gap: 80px;
    img{
        height: 250px;
    }
    h3 {
        color: $color-1;
        font-size: 26px;
    }
}

.retour-accueil {
    p {
        font-size: 18px;
        color: black;
        text-align: center;
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px){
    .error {
        height: 64vh;
        img {
            height: 100px;
        }
        h3 {
            font-size: 15px;
        }
    }

    .retour-accueil {
        p {
            font-size: 13px;
        }
    }
}