.fichelogement {
    margin: 0 5%;
    .fichelogement_content {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        .logement_information {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h3 {
                color: $color-1;
            }
        }
        .main_tags {
            display: flex;
            .tag {
                background-color: $color-1;
                color: white;
                padding: 5px 20px;
                margin-right: 10px;
                border-radius: 10px;
            }
        }
        .host_and_rate {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .host {
                display: flex;
                justify-content: space-between;
                .host_name {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: right;
                }
                p {
                    align-items: center;
                    font-family: $font-1;
                    color: $color-1;
                    text-align: right;
                }
                img {
                    border-radius: 65px;
                    height: 65px;
                    
                }
            }
        }
        .rating {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 768px) {
    .fichelogement {
        .fichelogement_content {
            flex-direction: column;
            .main_tags {
                flex-wrap: wrap;
                row-gap: 10px;
            }
            .host_and_rate {
                align-items: unset;
                flex-direction: row-reverse;
                .rating {
                    justify-content: unset;
                    align-items: center;
                    width: 100%;
                }
            }
            .logement_information {
                justify-content: unset;
                row-gap: 5px;
            }
        }
    }
}