.footer_container {
    background-color: black;
    width: 100%;
    text-align: center;
    img {
        filter:brightness(10)
    }
    h3 {
        font-size: 2.4rem;
        color: white;
    }
}