.navbar_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
    .navbar {
        width: 25%;
        ul {
            display: flex;
            justify-content: space-between;

            li {
                color: $color-1;
                font-family: $font-1;
                font-size: 20px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar_main {
        justify-content: unset;
        img {
            width: 145px;
        }
        .navbar {
            width: 50%;
            margin-left: 30px;
            ul {
                justify-content: unset;
                .accueil {
                    margin-right: 20px;
                }
                li {
                    font-size: 13px;
                }
            }
        }
    }
}