.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
    .navbar {
        width: 25%;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                font-size: 20px;
                color: black;
                font-family: $font-1;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .navbar-main {
        img {
            width: 145px;
        }
        .navbar {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            ul {
                justify-content: unset;
                .accueil {
                    margin-right: 20px;
                }
                li {
                    font-size: 13px;
                }
            }
        }
    } 
}