$font-1: "monserrat", sans-serif;

$color-1: #FF6060;
$color-2: #F6F6F6;

@font-face {
    font-family: "monserrat";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    margin: auto;
    position: relative;
    min-height: 100vh;
}

p {
    font-family: $font-1;
    font-size: 10px;
}

h2 {
    color: $color-1;
    font-size: 20px;
    font-family: $font-1
}

h3 {
    font-size: 15px;
    font-family: $font-1;
}

.content {
    margin: auto;
    max-width: 1440px;
    padding-bottom: 57px;
}

#root {
    padding-bottom: 200px;
}