$font-1: "monserrat", sans-serif;
$color-1: #FF6060;



@font-face {
    font-family: "monserrat";
    src: url(../assets/font/Montserrat-Medium.ttf);
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: auto;
    position: relative;
    min-height: 98vh;
}

.content {
    max-width: 1440 px;
    margin: auto;
}